.logo-bg {
  width: 125px;
  height:57px;
  display: inline-block;
  background-color: green;
  background-image: url('/img/logo.png');
}
.test {
  color:green;
  background-image: url('/img/sprites/warning.png');
}